{% extends "base.html" %}
{% block title %} Index Page {% endblock %}
{% block body %}
    <center>
        <h1>Welcome to Public Chatting</h1>
        <p>Remove frustration here</p>

        <a href="{% url "redirect_into_lobby" %}">Go to Lobby</a>
    </center>
    <script>

        const prompt_box = () => prompt("Enter your Name ?")
        let user_name = "";
        while (true) {
            if (user_name === null || user_name === "") {
                user_name = prompt_box()
            } else {
                localStorage.setItem("public_username", user_name);
                break;
            }
        }

    </script>
{% endblock body %}